[Unit]
Description=That was easy. xmonad rocks!
Before=mystuff.target
After=xorg.target
Requires=xorg.target

[Service]
## uncomment this if you want to have a non-default path
#Environment=PATH=%h/.cabal/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:%h/bin
ExecStart=/usr/bin/xmonad
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
